In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [4]:
cgpa = [3.4,3.6,2.8]
lpa = [6,8,10]
age_of_ur_wife = [30,31,21]

data = {
    'CGPA': cgpa,
    'LPA': lpa,
    'Age_of_Wife': age_of_ur_wife
}

In [9]:

df = pd.DataFrame(data)
df

   CGPA  LPA  Age_of_Wife
0   3.4    6           30
1   3.6    8           31
2   2.8   10           21

In [10]:
df.corr()['LPA']

CGPA          -0.720577
LPA            1.000000
Age_of_Wife   -0.817057
Name: LPA, dtype: float64

In [ ]:
# # yasin arafat intellinetY