<br>
<br>
<br>

# Iterative Imputer: (Mice: Multivariate Imputer chained equations)

<br>
<br>
<br>

In [9]:
import numpy as np 
import pandas as pd 

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [20]:
df = pd.read_csv("dataset/50_Startups.csv")
np.random.seed(5)
df.sample(4)

    R&D Spend  Administration  Marketing Spend       State     Profit
42   23640.93        96189.63        148001.11  California   71498.49
29   65605.48       153032.06        107138.38    New York  101004.64
6   134615.46       147198.87        127716.82  California  156122.51
19   86419.70       153514.11             0.00    New York  122776.86

In [25]:

df.shape

(50, 5)

In [24]:
df.isnull().mean() * 100

R&D Spend          0.0
Administration     0.0
Marketing Spend    0.0
State              0.0
Profit             0.0
dtype: float64